.hexagon {
    width: 100px; /* 1 times pixels */
    height: 86px; /* 0.866 times pixels */
    display: block;
    margin: 5px;
    background-color: darkblue;
}

.hexagon.wave {
    background-image: url("../images/wave.jpg");
    background-size: 100% 100%;
}

.hexagon.ship {
    background-image: url("../images/ship.jpg");
    background-size: 100% 100%;
}

.hexagon.moveable {
    background-color: rgba(255,200,0,0.2);
    background-blend-mode: overlay;
}

.hexagon.aimable{
    background-color: rgba(200,0,0,0.2);
    background-blend-mode: overlay;
}

.hexagon:hover{
    filter: brightness(75%);
}

.hexagon.moveto {
    animation-name: moveto;
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hexagon.aimto {
    animation-name: aimto;
    animation-duration: 1.0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes moveto {
    from{
        background-color: rgba(0,0,0,0);
        background-blend-mode: overlay;
    }
    to{
        background-color: rgba(255,255,0,0.35);
        background-blend-mode: overlay;
    }
}

@keyframes aimto {
    from{
        background-color: rgba(0,0,0,0);
        background-blend-mode: overlay;
    }
    to{
        background-color: rgba(255,0,0,0.35);
        background-blend-mode: overlay;
    }
}

.hexagon{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
}

.row {
    float: left;
    margin-top: 45px;
}

.row-even {
    float: left;
    margin-left: -30px;
    margin-right: -30px;
}