<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="hexstyle.css">
    <script src="hexScript.js"></script>
</head>
<body onload="createRow(10, 7)">
    <div style="margin: auto; width: fit-content">
        <div id="board" style="display: inline-block"></div>
    </div>

    <div>
        <button onclick="testStart()">start test</button>
    </div>


    <div>
        <button onclick="testStart2()">start test2</button>
    </div>
</body>
</html>