<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="hexstyle.css">
</head>
<body>
    <div class="row">
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
    </div>
    <div class="row">
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
    </div>
    <div class="row">
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
    </div>
    <div class="row">
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
        <a class="hexagon" href="index.html"></a>
        <a class="hexagon-even" href="index.html"></a>
    </div>
</body>
</html>