<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron text-center">
    <h1>WELCOME</h1>
</div>
<div class="row">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.playerId}"></td>
                <td th:text="${player.playerName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>DIRECTION</th>
                <th>SPEED</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wind : ${winds}">
                <td th:text="${wind.windId}"></td>
                <td th:text="${wind.windDirection}"></td>
                <td th:text="${wind.windSpeed}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>